html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 1em;
  text-align: center;
}

div .container {
  padding-top: 2em;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid;
  border-color: lightsteelblue;
  width: auto;
  padding: 1em 2em;
}

tr a {
  display: block;
}

#rank {
  width: 3em;
}

.contents {
  display: inline-block;
  text-align: left;
}

.contents img {
  width: 15em;
  height: 15em;
}

.info {
  font-size: 1.2em;
}
