<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/4d5de93084.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/united/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-udHIRBY7G8ZUr7aO8wRn7wD4bsGGRLR5orCz1FV93MZ7232xhAdjDYEvqeZLx45b" crossorigin="anonymous">
    <title>Hottest Boardgames</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>
                <span class="fas fa-dice-d20" style="margin-right:.4em;"></span>
                Hottest board games on BGG right now
            </h1>
        </header>
        
        <button onclick="location='/games/new'" type="button" class="btn btn-primary btn-large">Add a game</button>

        <div>
            <table style="margin: 1em auto;">
                <thead>
                    <tr>
                        <th id="rank">Rank</th>
                        <th id="name">Name</th>
                        <th id="year">Year released</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let game in games) { %>
                        <% if (games.hasOwnProperty(game)) { %>
                            <tr>
                                <td><%= games[game].rank %>.</td>
                                <td>
                                    <a href="/games/<%= games[game].gameId %>">
                                        <%= games[game].name %>
                                    </a>
                                </td>
                                <td style="text-align: center"><%= games[game].yearPublished %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>

    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
</body>

</html>