<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/4d5de93084.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/united/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-udHIRBY7G8ZUr7aO8wRn7wD4bsGGRLR5orCz1FV93MZ7232xhAdjDYEvqeZLx45b" crossorigin="anonymous">
    <title>Add a game</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center"><h1>Add a new game</h1></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <form action="/games" method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    class="form-control"
                    type="text"
                    id="name"
                    name="game[name]"
                    placeholder="Name"
                    autofocus
                  />
                </div>
                <div class="form-group">
                  <label for="publishYear">Year Published</label>
                  <input
                    class="form-control"
                    type="number"
                    id="publishYear"
                    name="game[yearPublished]"
                    placeholder="Year Published"
                  />
                </div>
                <div class="form-group">
                  <label for="gameRank">Rank</label>
                  <input
                    class="form-control"
                    type="number"
                    id="gameRank"
                    name="game[rank]"
                    placeholder="Rank"
                  />
                </div>
                <div class="form-group">
                  <label for="image">Link to image</label>
                  <input
                    class="form-control"
                    type="text"
                    id="image"
                    name="game[imageUrl]"
                    placeholder="Link to image"
                  />
                </div>
                <div class="form-group">
                  <button class="btn btn-large btn-primary btn-block">Add</button>
                </div>
              </form>
              <a href="/">Back to Games</a>
            </div>
          </div>
    </div>
</body>
</html>